<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TwilloNumber" value="+972526001357" />
    <add key="AccountSid" value="AC2f112cd06bd10bd8c97c9d6fefd03c4a" />
    <add key="AuthToken" value="7258bc704f7a38b6c53fe4c88debbb73" />
    <add key="Helper1Number" value="+972543111220" />
    <add key="Helper2Number" value="+972528847414" />
    <add key="Helper3Number" value="+972547329066" />
    <!--<add key="Helper4Number" value="+972543014727" />-->
    <add key="Helper4Number" value="+972542000228" />
    <add key="DefaultRingState" value="True" />
    <add key="DefaultSmsState" value="False" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>